@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Madimi+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes fire {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }

  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* altura alterada de 97vh para 100vh */
  background-image: url('Img/Fundo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: 'Madimi One', cursive;
  

}

body#inicio {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #e0f7fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Madimi One', cursive;
}


h3 {
  text-align: right;
}

#text-menu {
  font-family: 'Madimi One', cursive;
  color: #3a1c1c;
  background-color: #fff8e1;
  padding: 10px;
  border-radius: 15px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #d3b18c;

}

.section {
  background-color: #301d04a4;
  border: 4px double #ffffffb6;
  margin: 10px;
  padding-left: 5px;
}

td {
  border: 2px solid #e7e7e7b0;
}

.sub-section {

  border: 2px solid #ffffff;
  padding: 10px;
  margin: 2px;
  display: inline-block;
  margin-bottom: 10px;


}

h2 {
  color: #e4d17f;
}


h1,
h2 {
  text-align: center;
}

input {
  width: 200px;
  padding: 10px 15px;
  margin: 5px;
  border: 2px solid #8b5c3e;
  /* tom de marrom */
  border-radius: 10px;
  background-color: #fff8f0;
  font-family: 'Madimi One', cursive;
  color: #3b2f2f;
  font-size: 1rem;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #d16ba5;
  box-shadow: 0 0 8px #d16ba5;
  background-color: #fffaf6;
}



button {
  background: linear-gradient(to right, #cde990, #4e944f);
  color: #4b1e1e;
  border: none;
  padding: 10px 25px;
  font-size: 1rem;
  font-family: 'Madimi One', cursive;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(to right, #4e944f, #cde990);
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

table {
  padding-bottom: 10px;
  width: 90%;
  margin-left: 30px;
  margin-bottom: 20px;
}

.upt-btn {
  padding: 4px;
}

.btn {
  margin-bottom: 10px;
}

p {
  margin-top: 2px;
}


button:active {
  background-color: #B99FF8;
}

img {
  border-radius: 8px;
  padding: 5px;
  width: 180px;
}


.sub-Braseon {
  border-radius: 8px;
  padding: 10px;
  width: 190px;
  padding-right: 20px;
}


.sub-grunter {
  border-radius: 8px;
  padding: 10px;
  width: 185px;
}

.sub-praga {
  border-radius: 8px;
  padding: 10px;
  width: 180px;
  padding-top: 0px;

}

.sub-boss {
  border-radius: 8px;
  padding: 10px;
  width: 185px;
}

.inimigo {
  display: none;
}

.sub-Braseon img {
  height: 200px;
  width: 200px;
}

.sub-grunter img {
  height: 190px;
  width: 200px;
}

.boss {
  border-radius: 8px;
  padding-top: 12px;
  width: 190px;
  padding-right: 20px;
}

.boss img {
  width: 200px;
  /* Ajuste conforme o visual desejado */
  height: 172px;
  /* Idem */
  object-fit: contain;
  /* Mantém a proporção sem cortar */
  display: block;
  margin: 0 auto;
}

.boss p {
  text-align: center;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

footer {
  position: fixed;
  width: 100%;
  color: black;
  text-align: center;
}

.titulo-centralizado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Espaço entre os itens */
  font-family: 'Madimi One', cursive;
  font-size: 90px;
  text-align: center;
  margin-top: 50px;
  font-family: 'Madimi One', cursive;
  background: linear-gradient(to right, #4e944f, #cde990);
  /* gradiente floresta */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.img-protetor {
  width: 350px;
  height: auto
}

.iniciar {
  display: block;
  margin: 60px auto 0;
  /* 40px de espaço acima, centralizado horizontalmente */
  padding: 12px 24px;
  font-size: 40px;
  font-family: 'Madimi One', cursive;
  background-color: #4CAF50;
  color: white;

  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.caixas {
  font-family: 'Madimi One', cursive;
  font-size: 23px;
  padding: 25px 25px;
  margin: 60px auto 0;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #000000;
  background-color: rgb(222, 212, 212);
  color: #3a1c1c;
  border-radius: 8px;

}

.avancar {
  display: block;
  margin: 60px auto 0;
  /* 40px de espaço acima, centralizado horizontalmente */
  padding: 12px 24px;
  font-size: 40px;
  font-family: 'Madimi One', cursive;
  background-color: #4CAF50;
  color: white;

  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Espaço entre os itens */
  font-family: 'Madimi One', cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  font-family: 'Madimi One', cursive;
  background: linear-gradient(to right, #4e944f, #cde990);
  /* gradiente floresta */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.comecar {
  display: block;
  margin: 60px auto 0;
  /* 40px de espaço acima, centralizado horizontalmente */
  padding: 12px 24px;
  font-size: 30px;
  font-family: 'Madimi One', cursive;
  background-color: #4CAF50;
  color: white;

  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/*Efeito na tela dos personagens*/

.lista {
  display: flex;
  gap: 1em;

}

.item {
  width: 250px;
  height: 400px;
  position: relative;
  overflow: hidden;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 16%;
  gap: 40px;
}

.efeito {
  width: 100%;
  height: 100%;
  border-radius: 30px;

}

.efeitoHover {
  color: white;
  width: 80%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
}

.item:hover {
  transform: scale(1.05);
}

.item:hover .efeitoHover {
  opacity: 1;
  top: 50%;
}

.lista:hover .item:not(:hover) {}

.tituloinimigo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Espaço entre os itens */
  font-family: 'Madimi One', cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  font-family: 'Madimi One', cursive;
  background: linear-gradient(to right, #4e944f, #cde990);
  /* gradiente floresta */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  position: relative;
  top: -30px;
}